<div class="publications">

<h2>Preprint</h2>
{% bibliography --group_by none --query @*[abbr=Preprint]* %}
{% bibliography --group_by none --query @*[abbr=NeurIPS Workshop]* %}

<h2>Conference</h2>
{% bibliography --group_by none --query @inproceedings[selected=true]* %}

</div>
